:root {
    --body-background-color: #276967;
    --header-background-color: #1b4645;
    --button-background-color: var(--header-background-color);
    --button-hover-color: var(--header-background-color);
    --button-hover-background: #f68800;

    --orange: var(--button-hover-background);

    --table-width: 23em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--body-background-color);
    height: 100vh;
    font-family: 'Raleway';
    font-size: 16px;
}

header {
    background-color: var(--header-background-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    padding: 1em 2em;
}

.logo {
    font-size: 1.5em;
}

nav {
    text-align: right;
}

ul {
    list-style-type: none;
}

ul > li {
    display: inline-block;
    padding-top: .5em;
}

a {
    color: var(--orange);
    text-decoration: none;
}

a:hover {
   font-weight: bold;
   text-decoration: underline;
}

.poppins {
    font-family: 'Poppins';
}

main {
    display: grid;
    justify-content: center;
}

main.home {
    margin-top: 3em;
    padding-left: 2em;
    justify-content: left;
}

table {
    border: 1px solid #000;
    border-radius: 10px;
    margin-top: 2em;
    padding: .5em 2em;
    width: var(--table-width);
}

table tr th {
    font-size: 1.5em;
    padding: .5em 0;
    text-align: left;
}

table tr td {
    padding: .5em 0;
}

input[type="text"], input[type="password"] {
    border-radius: 10px;
    border: none;
    height: 2.5em;
    outline: none;
    padding-left: .5em;
    width: 20em;
}


input[type="submit"] {
    background-color: var(--button-background-color);
    border:none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    outline: none;
    padding: 1em 1.5em;
}

.changeButtonBackground {
    animation: changeButtonBackground 1s ease-in-out forwards;
}

.changeBack {
    animation: changeBack 1s ease-in-out forwards;
}

@keyframes changeButtonBackground {
    from {
        background: var(--button-background-color);
    }

    to {
        color: var(--button-hover-color);
        background: var(--button-hover-background);
    }
}

@keyframes changeBack {
    from {
        background: var(--button-hover-background);
        color: var(--button-hover-color);
    }

    to {
        background: var(--button-background-color);
        color: #fff;
    }
}

.orange {
    color: var(--orange);
}

.red { color: red; }

.bold { font-weight: bold; }